<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <i class="fa fa-4x fa-user" id="icon">
      </i>
    </div>
    <div class="login-container">
      <form [formGroup]="loginForm">
        <div class="form-group" style="text-align: left">
          <label for="username">User name:</label>
          <input type="text" class="form-control"
                 formControlName="username" id="username"
                 style="text-align: left"
                 #username autocomplete="off">
          <div class="alert alert-danger" role="alert"
               *ngIf="loginForm.controls['username'].hasError('required') &&
               loginForm.controls['username'].touched"> Username is required
          </div>
        </div>
        <div class="form-group" style="text-align: left">
          <label for="password">Password:</label>
          <input type="password" class="form-control"
                 style="text-align: left"
                 formControlName="password" id="password"
                 #password autocomplete="off">
          <div class="alert alert-danger" role="alert"
               *ngIf="loginForm.controls['password'].hasError('required') &&
               loginForm.controls['password'].touched"> Password is required
          </div>
        </div>
        <button class="btn btn-success" (click)="onSubmit()"
                [disabled]="loginForm.invalid">Submit
        </button>

        <div *ngIf="invalidLogin" class="alert-danger">
          <div class="mt-4 p-2">Invalid credentials.</div>
        </div>
      </form>
    </div>
  </div>
</div>

